# --- Models Générés ---
models/

# Environnements virtuels
venv/
env/
.venv/

# Fichiers compilés
__pycache__/
*.py[cod]

# Fichiers de configuration locaux
*.env
*.ini
*.cfg
*.local
secrets.json

# Fichiers de log
*.log

# Dossiers de build / distribution
build/
dist/
*.egg-info/

# IDE / Éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Notebooks Jupyter
.ipynb_checkpoints/
